body {
background-image:url(ice.jpg);
font-family:sans-serif;
}

.section-form {
box-shadow:0 0 10px #000;
width:266px;
padding:10px;
background:#000;
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
opacity:.8;
border-radius:10px
}

.section-form:hover {
opacity:1
}

.section-form input {
padding-left:20px;
padding-top:5px;
padding-bottom:5px;
text-transform:capitalize;
width:214px;
margin-top:15px;
background-color:transparent;
border-bottom:1px solid #fff!important;
border:none;
outline:none;
color:#fff;
vertical-align:bottom;
font-size:16px
}

#date-width {
width:214px
}

#text-tr {
text-transform:lowercase;
text-align:center;
padding-left:0;
width:234px;
color:#1e88e5
}

#sub-width {
width:234px;
background-color:#1e88e5;
cursor:pointer;
height:40px;
padding-left:0;
transition:background-color .3s;
border-bottom:none!important;
border-radius:5px
}

#sub-width:hover {
background-color:#42a5f5
}

#check {
width:20px
}

#check:focus {
outline:none
}

label {
position:absolute;
pointer-events:none;
transition:.5s;
top:20px;
left:0;
color:#fff;
font-size:17px
}

input:focus ~ label,input:valid ~ label {
top:0;
font-size:14px;
color:#1e88e5
}

legend {
color:#fff;
font-size:20px;
}

.input-block {
position:relative;
height:45px;
margin-bottom:10px
}
#input-email {
text-transform:lowercase
}